*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(bg\ img-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p, li, a{
    text-decoration: none;
    color: white;
}
.logo{
    font-weight: 900;
    font-size: 50px;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: .5em;
}
.nav-link li{
    list-style: none;
    display: inline-block;
}
.nav-link li a{
    margin: 0 15px;
    transition: all .3s ease;
}
.nav-link li a:hover{
    color: lawngreen;
}

.container{
    width: 100%;
    position: absolute;
    top:30%;
    transform: -50%;
    text-align: center;
    color: rgb(0, 240, 60);
}
.container h1{
    font-size: 50px;
    margin-top: 90px;
}
.socialmedia{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .socialmedia a{
    background-color: rgb(56, 238, 0);
    width: 90px;
    height: 90px;
    border-radius: 35px;
    text-align: center;
    line-height: 100px;
    box-shadow: 1px 4px 2px 2px black;
    margin: 10px;
}
a, i{
    transition: all .3s linear;
}
a:hover i{
    transform: scale(1.5);
}

.fa-facebook{
    color: #3b5998;
}
.fa-whatsapp{
    color: #075e54 ;
}
.fa-youtube{
    color: #c4302b;
}
.fa-twitter{
    color: #00acee ;
}
.fa-instagram{
    color: #3f729b;
}

 h1{
    text-align: center;
    color: chartreuse;

}
.filelink{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filelink a{
    color: rgb(56, 238, 0);
    

    width: 100px;
    height: 100px;
    border-radius: 0px;
    text-align: center;
    line-height: 50px;
    box-shadow: 1px 4px 2px  black;
    margin: 20px;
}

a:hover{
    color: cyan;
}
a:active{
    color: yellow;
}
